<div class="container">
  <div class="row">

    <div class="col-lg-11 mx-auto px-3">
      <div class="mac-box bg-dark red-border rounded mac-shadow  mt-3 px-0 w-100  d-flex flex-column">
        <div class="row my-2 mx-0">
  
          <div class="col-sm-6 mx-0 mac-head pl-5">Strategiespiel</div> 
          <div class="col-sm-3 mx-0 mt-2 pl-3">1.2019-11.2020</div> 
          <div class="col-sm-3 mx-0 d-flex justify-content-end">
            <a role="button" class="btn mac-btn-blue" href="https://github.com/MiguelAlvCar/GameAvocadosWars" target="_blank">
              Zum Code <i class='fab fa-github' style="font-size: 22px;"></i>
            </a>
          </div>
  
        </div>  

        <a class="btn mac-btn secun w-100 mx-auto" data-toggle="collapse" href="#Video" role="button" aria-expanded="false" aria-controls="Video">
            <div class="row justify-content-end">
                <div class='col col-8'>Demovideo</div>
                <i class='col col-2 fas fa-angle-down mt-2'></i>
            </div>  
        </a>
        <div class="collapse m-2" id="Video">
          <video style="width: 100%;" controls>
            <source src="../../assets/NetgameVideo.mp4" type="video/mp4">
            Your browser doesn't support the video tag
          </video>
        </div>
    
        <a class="btn mac-btn secun w-100 mx-auto" data-toggle="collapse" href="#Diagramme" role="button" aria-expanded="false" aria-controls="Diagramme">
          <div class="row justify-content-end">
              <div class='col col-8'>Diagramme</div>
              <i class='col col-2 fas fa-angle-down mt-2'></i>
          </div>  
        </a>
        <div class="collapse m-2 bg-white rounded" id="Diagramme">
          <div id="carouselExampleIndicators" class="carousel slide w-100" data-ride="carousel" style="height: 600px;">
            <ol class="carousel-indicators">
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="6"></li>
              <li class="red-carousel" data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            </ol>
            <div class="carousel-inner h100w100" >
              <div class="carousel-item active h100w100" >
                <a routerLink='/diagrams' target="_blank">
                  <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/MVVM.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/Unit-Inheritance.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/Combat.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/Dependency Injection.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/Server Communication.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/P2P Communication.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/Visibility.jpg');"></div>
                </a>
              </div>
              <div class="carousel-item h100w100" >
                <a routerLink='/diagrams' target="_blank">
                    <div class="h100w100 carousel-image" style="background-image: url('../../assets/diagrams/GamePackets.jpg');"></div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon red-carousel" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon red-carousel" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

        <div class="row px-2">
          <div class="col-lg-6">
            <div class="mac-subdivision">
              Beschreibung
            </div>
            <div class="mac-project-text" >
              Begleitendes Projekt zum eigenen Erlernen des objektorientierten Ansatzes. Ausschöpfende Übung des objektorientierten Ansatzes durch Hinzufügen von Features nach Belieben und wiederholte umfangreiche Refactorings.
            </div>
            <div class="mac-subdivision">
              Herausforderungen
            </div>
            <ul>
              <li><b>WPF-Anwendung</b></li>
              <li><b>Objektorientierte Programmierung</b>: Vererbung, Komposition, Generisch Programmierung, LINQ, Serialisierung.</li>
              <li>Ständige Benutzung der <b>Entwurfsmuster</b>: Strategy, State, Interceptor, Wrapper, Composite.</li>              
            </ul> 
          </div>
          <div class="col-lg-6 pt-3">
            <ul>
              <li><b>MVVM-Architektur</b></li>                
              <li>Modularisierung: 15 Assemblies, losgekoppelt wenn nötig.</li>  
              <li><b>Dependency Injection</b> (Ninject)</li>  
              <li>Verteilte Anwendung</li>                 
              <ul>
                <li>Austausch von Spielständen durch P2P-Kommunikation zwischen unterschiedlichen Computers. Unterschiedliche Dartellung und Steuerungsmöglichkeiten an den jeweiligen Enden der Verbindung. Gewährleistung der Synchronisation.</li>
                <li><b>P2P-Kommunikation</b> (mit den Tcp-Klassen von C#)</li>
                <li>Server-Client-Kommunikation mit einem <b>Web-server</b> (mittels Web-API)</li>                
              </ul>            
            </ul> 
          </div>  
        </div>
    
      </div>
    </div>
    
  
    <div class="w-100"></div>
  
    <div class="col-md">
  
      <div class="mac-box bg-dark red-border rounded mac-shadow mt-3 px-2 d-flex flex-column"> 

        <div class="row my-2">
          <div class="col-8 pl-4 mx-0 mac-head">Bericht über Besuche beim Kunden</div> 
          <div class="col-4 mx-0 mt-2">2.2021 – 4.2021</div> 
        </div>
        <div>
          <div class="mac-subdivision">
            Beschreibung
          </div>
          <div class="mac-project-text" >
            Anpassung und Erweiterung des alten "Erstkontakte"-Projekts für einen externen Kunden. Dabei wird das Projekt auf Angular konsistent umgestellt.
          </div>
        </div>
        <div>
          <div class="mac-subdivision">
            Herausforderungen
          </div>
          <ul>
            <li>Technologien: ASP.NET, Angular, Bootstrap, EF (DbContext-API)</li>
            <li>Dynamisches Formular auf der Grundlage einer Datenbank eines CRM-Systems mit <b>Reactive Forms</b>.</li>                
            <li>Benutzerdefiniertes Eingabeelement durch Implementierung von <b>ControlValueAccessor</b> zur Auswahl des Kundendatensatzes in der Datenbank</li>
            <li><b>Claims-basierte Authentifizierung</b> mit Identity auf der Grundlage der <b>externen Authentifizierung</b> eines CRM-Systems (FlowFact)</li>
          </ul>
        </div>
        
      </div>

      <div class="mac-box bg-dark red-border rounded mac-shadow mt-3 px-2 d-flex flex-column">

        <div class="row my-2">
          <div class="col-8 pl-4 mx-0 mac-head">Webanwendung zur automatischen Konfiguration von Active Directory</div> 
          <div class="col-4 mx-0 mt-2">10.2020 – 11.2020</div> 
        </div>
        <div>
          <div class="mac-subdivision">
            Beschreibung
          </div>
          <div class="mac-project-text" >
            Steuerung von Prozessen in Active Directory durch eine interne Webapplication. Speicherung der durchzuführenden Prozesse in einer Datenbank, die danach durch Pooling mit den entsprechenden Scripts ausgeführt wurden.
          </div>
        </div>
        <div>
          <div class="mac-subdivision">
            Herausforderungen
          </div>
          <ul>
            <li>Ausgereifte Backend-Frontend-Architektur und gezielte Entscheidung für die Technologien:</li>                
            <ul>
              <li>Frontend: <b>Angular 2+</b></li>
              <li>Backend: ASP.NET MVC, <b>Web API</b>, <b>Entity Framework</b> (DbContext-API)</li>
            </ul>
            <li>Responsive Design mit <b>Bootstrap</b></li>
            <li>Angular: Entwicklung eines Stores, um Daten in einer <b>push-driven-Architekture</b> dynamisch zu laden.</li>
            <li>Abfassung von Powershell Scripts</li>
          </ul> 
        </div>    

      </div>
  
    </div>
  
    <div class="col-md">
  
      <div class="mac-box bg-dark red-border rounded mac-shadow mt-3 px-2 d-flex flex-column"> 

        <div class="row my-2">
          <div class="col-8 pl-4 mx-0 mac-head">Online-Katalog und Erstkontakte</div> 
          <div class="col-4 mx-0 mt-2">4.2020 – 9.2020</div> 
        </div>
        <div>
          <div class="mac-subdivision">
            Beschreibung
          </div>
          <div class="mac-project-text" >
            Webapplication für die Verkaufabteilung, um die Erstkontakte mit Kunden zu protokollieren, den Katalog anzuzeigen, Bestellungen zu speichern und die jeweiligen Rechnungen zu erstellen.
          </div>
        </div>
        <div>
          <div class="mac-subdivision">
            Herausforderungen
          </div>
          <ul>
            <li><b>Dynamische Formulare</b> auf der Grundlage einer Datenbank</li>
            <li>Kontaktnahme mit der Backend-Frontend-Architektur. Allmähliges Lernen und Experimentieren mit den folgenden Technologien:</li>                
            <ul>
              <li>Backend:</li>
              <ul>
                <li>ADO.NET</li>
                <li>EF 4.0</li>
                <li>DbContext-API</li>
                <li>ASP.NET MVC</li>
                <li>Web API</li>
              </ul>
              <li>Frontend:</li>
              <ul>
                <li>Razor</li>
                <li>Knockout</li>
                <li>AngularJS</li>
                <li>Angular2+</li>
              </ul>
            </ul>
            <li><b>Filter-Werkzeug</b>, um die Adresse des besuchten Kunden aus einer Datenbank zu selektieren.</li>
          </ul> 
        </div>         
        
      </div>

      <div class="mac-box bg-dark red-border rounded mac-shadow mt-3 px-2 d-flex flex-column">     

        <div class="row my-2">
          <div class="col-8 pl-4 mx-0 mac-head">Verschiedene Anwendungen für weitere Migrationen innerhalb FlowFact</div> 
          <div class="col-4 mx-0 mt-2">12.2019 – 2.2020</div> 
        </div>
        <div>
          <div class="mac-subdivision">
            Beschreibung
          </div>
          <div class="mac-project-text" >
            Entwicklung allgemein gültiger Methoden zur Migration von Datenbanken und Erstellung <b>globaler Assemblies</b>.
          </div>
        </div>
          

      </div>

      <div class="mac-box bg-dark red-border rounded mac-shadow mt-3 px-2 d-flex flex-column">

        <div class="row my-2">
          <div class="col-8 pl-4 mx-0 mac-head">Migration und Synchronisation innerhalb zwei CRM-Systeme</div> 
          <div class="col-4 mx-0 mt-2">9.2019 – 3.2020</div> 
        </div>
        <div>
          <div class="mac-subdivision">
            Beschreibung
          </div>
          <div class="mac-project-text" >
            Migration innerhalb der Sql-Server-Datenbänke von Navision und FlowFact. Ab der dritten Woche der Ausbildung Übernahme der ganzen Programmierung des Projekts in völliger Selbstständigkeit. Nach erweiterten Anforderungen vom Kunden, in Produktion.
          </div>
        </div>
        <div>
          <div class="mac-subdivision">
            Herausforderungen
          </div>
          <ul>
            <li><b>ADO.NET</b></li>
            <li>Stored Procedures</li> 
            <li>Implementierung in einem <b>Windows Service</b></li> 
            <li>Binarische Suche, um die IDs der zu synchronisierenden Tabellen zu vergleichen.</li> 
            <li><b>Multithreading</b> für gleichzeitige Migrationen von verschiedenen zusammenhängenden Tabellen</li>
            <li><b>Test-Driven Entwicklung</b> des Multithreading-Feature</li>
          </ul> 
        </div>   

      </div>

    </div>
  
    <div class="w-100 mb-3"></div>

  </div> 
</div>







