<div class="row mx-0">

    <div class="col col-12 col-md-2 pb-3" style="overflow: hidden; min-width: 250px; z-index:1010">
        <div>
            <div class="bg-dark red-border rounded mac-shadow d-none d-md-flex align-items-center flex-column mt-3 mr-0 px-3 py-2" style="color: white;">
                <div class="mac-head">Kode</div> 
                <li class="li-1">Tiefes Verständnis der Technologie, Syntax verinnerlicht, seltener Bedarf, auf fremde Quelle zuzugreifen, um Probleme zu lösen.</li>                
                <li class="li-2">Erfahrung in Projekten aber mit dem Bedarf, Bibliographie einzuschlagen, um mit der Syntax zurecht zu kommen.</li>                
                <li class="li-3">Gelesen und verstanden, bereit damit zu arbeiten.</li>
            </div>
        </div>
           
        <div class="bg-dark red-border rounded mac-shadow d-md-none row mt-3 mx-3" style="color: white;">          
            <li class="col-sm li-1">Tiefes Verständnis der Technologie, Syntax verinnerlicht, seltener Bedarf, auf fremde Quelle zuzugreifen, um Probleme zu lösen.</li>                
            <li class="col-sm li-2">Erfahrung in Projekten aber mit dem Bedarf, Bibliographie einzuschlagen, um mit der Syntax zurecht zu kommen.</li>                
            <li class="col-sm li-3">Gelesen und verstanden, bereit damit zu arbeiten.</li>   
        </div>
    </div>

    <div class="col col-md-8">
        <div class="row">
            <div class="col">

                <div class="mac-box bg-dark red-border rounded mac-shadow mx-3 mt-3 px-0">
                        <a class="btn mac-btn box w-100" data-toggle="collapse" href="#CSharp" role="button" aria-expanded="false" aria-controls="CSharp">
                            <div class="row justify-content-end">
                                <div class='col col-8'>C#</div>
                                <i class='col col-2 fas fa-angle-down mt-2'></i>
                            </div>
                        </a>
                        
                    

                    <div class="collapse mt-2" id="CSharp">
                        <ul>
                            <li class="li-1">Dependency Injection (Ninject)</li>
                            <li class="li-2">ADO.NET</li>
                            <ul>                
                                <li class="li-1">Stored Procedures</li>
                            </ul>                        
                            <li class="none">Entity Framework</li>                    
                            <ul>
                        
                                <li class="li-2">EF 4.0</li>
                                <li class="li-2">DbContext-API</li>
                                <li class="li-2">Code First</li>
                            </ul>
                            <li class="li-2">Multithreading mit Threads und Multitasking mit TPL</li>
                            <li class="li-1">Linq</li>
                            <ul>
                                <li class="li-2">Binäre Suche</li>                    
                            </ul>
                            <li class="li-2">Serialisierung</li>
                            <li class="li-2">Installer Setup Project</li>
                        </ul>
                    </div>                        
                </div>

                <div class="mac-box bg-dark red-border rounded mac-shadow mx-3 mt-3 px-0"> 
                    <a class="btn mac-btn box w-100" data-toggle="collapse" href="#ASPNET" role="button" aria-expanded="false" aria-controls="ASPNET">
                        <div class="row justify-content-end">
                            <div class='col col-8'>ASP.NET MVC</div>
                            <i class='col col-2 fas fa-angle-down mt-2'></i>
                        </div>                        
                    </a>

                    <div class="collapse mt-2" id="ASPNET">
                        <ul>
                            <li class="li-1">Web API: Frontend-Backend-Architektur</li>
                            <li class="li-2">Identity</li>
                            <ul>
                                <li class="li-2">Role-basierte Authorization</li>
                                <li class="li-2">Claim-basierte Authorization</li>
                            </ul>
                            <li class="li-2">Razor</li>
                            <li class="li-2">Routing</li>
                        </ul>   
                    </div>                    
                </div>

            </div>

            <div class="col">

                <div class="mac-box bg-dark red-border rounded mac-shadow mx-3 mt-3 px-0">                    
                    <a class="btn mac-btn box w-100" data-toggle="collapse" href="#Angular" role="button" aria-expanded="false" aria-controls="Angular">
                        <div class="row justify-content-end">
                            <div class='col col-8'>Angular</div>
                            <i class='col col-2 fas fa-angle-down mt-2'></i>
                        </div>  
                    </a>

                    <div class="collapse mt-2" id="Angular">
                        <ul>
                            <li class="li-2">Typescript</li>
                            <li class="li-2">Statische und dynamische Komponentenbäume</li>
                            <li class="li-2">Komponenten zur Laufzeit hinzufügen</li>
                            <li class="li-1">Input und Output-Bindings</li>
                            <li class="li-2">Direktiven</li>
                            <li class="li-2">DI</li>
                            <li class="li-2">Formulare mit Template-driven Forms und Reactive Forms</li>
                            <li class="li-2">Routing</li>
                            <li class="li-2">Http Requests</li>
                            <li class="li-2">RxJS: Observable und Subjects, Push-getriebene Architektur</li>
                            <li class="li-3">Unit und End-to-End-Tests</li>
                            <li class="li-2">Modularisierung</li>
                            <li class="li-3">Internationalisierung mit dem i18n-Modul</li>
                            <li class="li-3">Echtzeitanwendungen mit Websocket</li>
                        </ul>
                    </div>
                </div>
    
                <div class="mac-box bg-dark red-border rounded mac-shadow mx-3 mt-3 px-0">
                    <a class="btn mac-btn box w-100" data-toggle="collapse" href="#WPF" role="button" aria-expanded="false" aria-controls="WPF">
                        <div class="row justify-content-end">
                            <div class='col col-8'>WPF</div>
                            <i class='col col-2 fas fa-angle-down mt-2'></i>
                        </div>  
                    </a>

                    <div class="collapse mt-2" id="WPF">
                        <ul>
                            <li class="li-1">MVVM – pattern</li>                    
                            <ul>
                                <li class="li-1">Commands</li>
                                <li class="li-1">Databindings</li>
                            </ul>
                            <li class="li-1">Benutzerdefiniert Komponente</li>
                            <li class="li-1">Styles, Templates</li>
                            <li class="li-1">Routed events, dependency Properties</li>
                        </ul>  
                    </div>

                           
                </div>
            </div>

            <div class="w-100"></div>

            <div class="col col-5 mac-box bg-dark red-border rounded mac-shadow mx-3 mt-3 px-0 mx-auto">                    
                <a class="btn mac-btn box w-100" data-toggle="collapse" href="#Weitere" role="button" aria-expanded="false" aria-controls="Weitere">
                    <div class="row justify-content-end">
                        <div class='col col-8'>Weitere Skills</div>
                        <i class='col col-2 fas fa-angle-down mt-2'></i>
                    </div>  
                </a>

                <div class="collapse mt-2" id="Weitere">
                    <ul>
                        <li class="li-1">Entwurfsmuster </li>
                        <li class="li-2">UML</li>
                        <li class="none">Diverses:</li>                
                        <ul>
                            <li class="li-2">Html</li>
                            <li class="li-2">Css</li>
                            <li class="li-2">Bootstrap</li>
                            <li class="li-3">Jquery</li>
                            <li class="li-2">Knockout</li>
                            <li class="li-2">AngularJS</li>
                        </ul>
                        <li class="li-1">SQL</li>
                        <li class="li-2">SQL Server</li>
                        <li class="li-2">Microsoft fundations teams</li>
                        <li class="li-1">Git</li>
                    </ul> 
                </div>
            </div>

        </div>            
    </div>
</div>
